@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scrolling-line {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-scrolling-line {
    animation: scrolling-line 3s linear infinite;
  }